body{
  position: relative;
}

div{
  animation: rotate 1400ms linear infinite;
  mix-blend-mode: soft-light;
  width: 210px;
  height: 210px;
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 10vw;
  border-radius: 50%;
  border: 20px solid transparent;
  border-top: 20px solid coral;
}

div:first-of-type{
  animation: rotate 1800ms linear infinite;
  width: 210px;
  height: 210px;
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 10vw;
  border-radius: 50%;
  border: 20px solid transparent;
  border-top: 20px solid lightgreen;
}

div:last-of-type{
  animation: rotate 2200ms linear infinite;
  width: 210px;
  height: 210px;
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 10vw;
  border-radius: 50%;
  border: 20px solid transparent;
  border-top: 20px solid lightblue;
}

@keyframes rotate{
  from{ transform: rotate(0);}
  to{ transform: rotate(360deg);}
}